---
http_interactions:
- request:
    method: get
    uri: https://api.monobank.ua/bank/currency
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Trace-Id:
      - 987aafbc5cc1fc204de0058f4120704d
    body:
      encoding: UTF-8
      string: '[{"currencyCodeA":840,"currencyCodeB":980,"date":1720772406,"rateBuy":40.74,"rateSell":41.1404},{"currencyCodeA":978,"currencyCodeB":980,"date":1720760173,"rateBuy":44.2,"rateSell":44.8009},{"currencyCodeA":978,"currencyCodeB":840,"date":1720760173,"rateBuy":1.08,"rateSell":1.091},{"currencyCodeA":826,"currencyCodeB":980,"date":1720776187,"rateCross":53.2625},{"currencyCodeA":392,"currencyCodeB":980,"date":1720776174,"rateCross":0.2606},{"currencyCodeA":756,"currencyCodeB":980,"date":1720776181,"rateCross":46.1584},{"currencyCodeA":156,"currencyCodeB":980,"date":1720776189,"rateCross":5.6669},{"currencyCodeA":784,"currencyCodeB":980,"date":1720776171,"rateCross":11.2025},{"currencyCodeA":971,"currencyCodeB":980,"date":1703852583,"rateCross":0.5417},{"currencyCodeA":8,"currencyCodeB":980,"date":1720776084,"rateCross":0.4468},{"currencyCodeA":[...]
