---
http_interactions:
  - request:
      method: get
      uri: https://api.monobank.ua/bank/currency
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Trace-Id:
          - 8c8ec7163b439d5419faf5300b58d2ee
      body:
        encoding: UTF-8
        string: '[{"currencyCodeA":840,"currencyCodeB":980,"date":1748379673,"rateBuy":41.33,"rateSell":41.8305},{"currencyCodeA":978,"currencyCodeB":980,"date":1748412606,"rateBuy":46.8,"rateSell":47.6009},{"currencyCodeA":978,"currencyCodeB":840,"date":1748412606,"rateBuy":1.129,"rateSell":1.141},{"currencyCodeA":826,"currencyCodeB":980,"date":1748450129,"rateCross":56.8429},{"currencyCodeA":392,"currencyCodeB":980,"date":1748449947,"rateCross":0.2942},{"currencyCodeA":756,"currencyCodeB":980,"date":1748450044,"rateCross":51.0969},{"currencyCodeA":156,"currencyCodeB":980,"date":1748450059,"rateCross":5.8182},{"currencyCodeA":784,"currencyCodeB":980,"date":1748450125,"rateCross":11.3911},{"currencyCodeA":971,"currencyCodeB":980,"date":1747921841,"rateCross":0.5964},{"currencyCodeA":8,"currencyCodeB":980,"date":1748450129,"rateCross":0.4837},{"currencyCodeA":[...]
