---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bot<TELEGRAM_TOKEN>/sendMessage
    body:
      encoding: UTF-8
      string: chat_id=<TELEGRAM_CHAT_ID>&text=Hello+from+VCR+test%21
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"message_id":2216,"from":{"id":442304679,"is_bot":true,"first_name":"AlertBot","username":"ezhivlabot"},"chat":{"id":<TELEGRAM_CHAT_ID>,"first_name":"Volodymyr","username":"viper_ua","type":"private"},"date":1748463109,"text":"Hello
        from VCR test!"}}'
  recorded_at: Wed, 28 May 2025 20:11:48 GMT
recorded_with: VCR 6.3.1
